Body {  
  font-family: Calibri, Helvetica, sans-serif;  
  background-color: #D3D3D3;  
}  

#welcomeMsg{
	float:right;
}

.form-section{
    border: solid;
    border-color: black;
    background-color: white;
}
}